/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
 #tsdemoDonationStripeContainer ul {
	 list-style-type: none;
 }
 
 #tsdemoDonationStripeContainer label, #tsdemoDonationStripeContainer input {
	 display: inline;
 }
 
#tsDemoDonationFieldOther {
	 width: 5em;
 }