<div id="tsdemoDonationStripeContainer">
	<form id="tsdemoDonationStripeForm" action="#" method="POST">
		<h2>Donate Now!</h2>
		<input type="hidden" id="tsdemoDonationStripeNonce" name="wpNonce" value="">
		<input type="hidden" id="tsdemoDonationStripeToken" name="donationToken" value="">
		<ul>
			<li id="tsDemoDonationAmountOtherItem">
				<input type="radio" id="tsDemoDonationAmountOther" name="donationAmount" value="X">
				<label for="tsDemoDonationAmountX">Other</label> <input type="text" id="tsDemoDonationFieldOther" name="donationAmountOther">
			</li>
		</ul>
		<button id="tsdemoDonateButton">Donate!</button>
	</form>
	<div id="tsdemoDonationSpinner">
		<div class="loadingSpinner"></div>
	</div>
	<div id="tsdemoDonationComplete">
	</div>
</div>